%iframe{:id => "player_#{video_id}",
        :src => "http://player.vimeo.com/video/#{video_id}?api=1&amp;player_id=player_#{video_id}",
        :webkitallowfullscreen => 'webkitallowfullscreen',
        :frameborder => '0',
        :width => '540',
        :height => '304'}