- unless user_signed_in?
  %a#login_button{ href: "/users/sign_in"}
    = image_tag("layout/login.png")
- if user_signed_in?
  %a#login_button{ href: destroy_user_session_path, 'data-method' => 'delete' }
    = image_tag("layout/logout.png")
