= form_for [wiki, page], :builder => InlineValidationFormBuilder do |form|
  .clearfix
    =form.label :title, "Titel"
    .input
      =form.text_field :title
  .clearfix
    =form.label :title, "Verhaal"
    .input
      =form.text_area :story
  = form.hidden_field :retained_photo
  - if(params[:action] != 'edit')
    .clearfix
      = form.label 'Afbeelding'
      .input
        = form.file_field :photo
    .clearfix
      =form.label :title, "Samenvatting"
      .input
        =form.text_area :summary
  .actions
    =form.submit "Opslaan", class: "primary btn"