= form_for wiki, :builder => InlineValidationFormBuilder do |form|
  .clearfix
    =form.label :title, "Titel"
    .input
      =form.text_field :title
  .clearfix
    =form.label "Omschrijving"
    .input
      =form.text_area :description
  .clearfix
    = form.label 'Afbeelding'
    .input
      = form.hidden_field :retained_photo
      = form.file_field :photo
  .actions
    =form.submit "Opslaan", class: "primary btn"