- content_for :title do
  Verhalen
- if @wikis.blank?
  .alert-message.warning
    Nog geen wiki's gevonden!
- else
  %ul.wikis
  - @wikis.each do |wiki|
    %li
      = link_to wiki.title, wiki
      %small.wiki-description= wiki.description

.actions
  = link_to "Nieuw verhaal toevoegen", new_wiki_path, class: 'btn success'
