= form_for [page, page_photo] , :builder => InlineValidationFormBuilder do |form|
  .clearfix
    = form.label 'Foto'
    .input
      = form.hidden_field :retained_photo
      = form.file_field :photo
  .actions
    =form.submit "Opslaan", class: "primary btn"
