@font-face {
    font-family: 'ProximaNovaRegular';
    src: font-url('proximanova-regular-webfont.eot');
    src: font-url('proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('proximanova-regular-webfont.woff') format('woff'),
         font-url('proximanova-regular-webfont.ttf') format('truetype'),
         font-url('proximanova-regular-webfont.svg#ProximaNovaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
