$background-color: #eee;
$content-color: #fff;

@mixin rounded($sides) {
  $radius: $sides;

  border-radius: $sides;
  -moz-border-radius: $sides;
  -webkit-border-radius: $sides;
}

@mixin bottom-shadow {
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

@mixin shadow($sides, $color) {
    -moz-box-shadow: $sides $color;
    -webkit-box-shadow: $sides $color;
    box-shadow: $sides $color;
}


body, html, .containt{
    font-family: 'ProximaNovaRegular', Arial, sans-serif;
    background: url(layout/background_normal.png) repeat;
    font-size: 16px;
    text-shadow: 0px 0px 3px #fff;
}

.header {
    background: url(layout/background_top.png) top left repeat-x;
    height: 200px;
}

.header-social-media-images {
    padding: 10px 3px;
}

.header .container {
    position: relative;
}
.logo {
    position: absolute;
    top: 15px;
    left: 400px;
}
.input-header {
    background: #DFD7D5;
    margin: 10px 0;
    font-size: 14px;
    color: #8A7C79;
}

.container > footer p {
    text-align: center;
}

.modal .close.btn {
    margin-top: 0;
}

.page-header .breadcrumb {
    margin-bottom: 0;
}

.header-nav{
    list-style: none;
    margin: 0;
    padding:0;
    position: absolute;
    top: 80px;
}
.header-nav li{
    float:left;
    width: 160px;
    padding: 0 10px;
    text-align: center;
}
.header-nav span{
    color: #8A7C79;
    text-transform: uppercase;
    font-weight: bolder;
}
.header-nav small{
    color: #8A8582;
    font-size: 14px;
    display: block;
    padding-top: 10px;
}
.header-nav a:hover {
    text-decoration: none;
}
.header-nav-left{
    left: 0;
}

.header-nav-right{
    right: 0;
}

.wiki-overview {
    padding: 0 10px;
    display: block;
}

.wiki-overview li {
    float:left;
    width: 30%;
    padding: 20px 2% 20px 0;
}

.wiki-overview-options {
    background: #E6D8D6;
    @include rounded(5px 5px 5px 5px);
    height: 40px;
    margin-top: 20px;
}
.wiki-overview-options li {
    float:left;
    height: 40px;
    margin: 0 1px;
    padding: 0 10px;
    line-height: 40px;
    border-right: 1px solid #D7CDCC;
    @include shadow(1px 0 0 0, #EADFDD)
}
.wiki-overview-options li:hover, .wiki-overview-options li.active{
    background: #D8CAC8;
}
.wiki-overview-options ul li:first-child.active, .wiki-overview-options ul li:first-child:hover {
    @include rounded(5px 0px 0px 5px);
}
#page_story {
    width: 600px;
}

.span-one-third h3 {
    color: #659595;
    font-weight: bolder;
    text-shadow: inset 0px -2px -2px #2C5859;
}

div.line {
    margin: 15px 0;
    border-bottom: 1px solid #DDD;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.two-text-columns {
  -moz-column-width: 13em; -webkit-column-width: 13em; -moz-column-gap: 1em; -webkit-column-gap: 1em;;
}

.vimeo-preview {
    cursor: pointer;
}
.velehanden_steps {
    margin-top: -10px;
}

footer {
    background: #3F3735 url(layout/background_footer_top.png) repeat-x top left;

}