.timeline {
    margin: 0 0 20px 0;

    .block {
        display:block;
        margin: 0;
        padding: 0;
    }

    .time-line-item {
        margin: 0;
        line-height: 30px;
        height: 30px;
        padding: 0;

        small {
            position: relative;
            top: -8px;
        }
    }

}